# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/
dist/

# testing
coverage/
playwright-report/
test-results/

# environment
.env
.env*.local
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system
.DS_Store

*.tsbuildinfo
